<header>
    <div class="container">
        <a  class="logo">Food Fantasy</a>
        <nav>
            <ul>
                
                <li class="menu-container">
                    <a routerLink="/dashboard">{{username}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/order">Order</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>