<table>
    <tr>
        <td colspan="5">
            <h3>Order Items:</h3>
        </td>
    </tr>
    <tr *ngFor="let item of order.items">
        <td>
            <a routerLink="/food/{{item.food.id}}">
                <img [src]="item.food.imageUrl" />
            </a>
        </td>
        <td>
            {{item.food.name}}
        </td>
        <td>price
            {{item.food.price | currency:'Rs.'}}
        </td>
        <td>qty
            {{item.quantity}}
        </td>
        <td>Total Price
            {{item.price | currency:'Rs.'}}
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <strong>
                Total :
            </strong>
        </td>
        <td>
            <strong>
                Rs.{{order.totalPrice}}
            </strong>
        </td>
    </tr>
</table>