ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    background-color: rgb(22, 19, 68);
}
li a {
    height: 15.5rem;
    width: 15rem;
    border: 1px solid rgb(246, 4, 4);
    margin: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: red;
    border-radius: 1rem;
    text-decoration: none;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
li a img{
    object-fit: cover;
    height: 8.5rem;
    border-radius: 1rem;
}
.content{
    margin-top:0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}
.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
}
.favorite.not{
    color: gray;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.origins{
    flex: 9;
}
.origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: rgb(10, 5, 68);
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
}
.price{
    position: absolute;
    bottom: 10px;
    left: 160px;
    background: transparent;
    padding: 0.3rem 100% 0 0;
    color: gray;
    margin-top: 0.7rem;
    font-size: 1.1rem;
}