<app-not-found [visible]="!food" notFoundMessage="Product not found" resetLinkText="Go to home page"></app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.imageUrl" [alt]="food.name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favorite {{food.favorite?'':'not'}}">
                ♡
            </span>
        </div>
        <div class="origins">
            <span *ngFor="let origin of food.origins">{{origin }}</span>
        </div>
        <div class="price">
            <span>
                {{food.price| currency:'Rs.'}}
            </span>
        </div>
        <button (click)="addToCart()">Add To Cart</button>
    </div>
</div>